h1 {
    font-family: sans-serif;
}
p {
    font-weight:600;
    font-size: 3em;
}
body {
    font-size: 16px;  
    font-style: italic;
    line-height:normal;
    text-align: justify;
    text-decoration:dotted
}
#coramarela {
    background-color: yellow;
}
#corvermelha {
    background-color: red;
}
#cormarrom {
    background-color: brown;
}