header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: rgb(5, 5, 90);
}

p {
    font-size: 16px;
    color: grey;
}

img {
    width: 350px;
    height: 200px;
}

a:visited {
    color: black;
}

aside {
    float: right;
    width: 30%;
}

table, th, td {
    border: 1px solid #ccc;
}